<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>View-Quetions</title>
    <style>
        a {
            margin-left: 10px;
        }
        
        table tr th {
            text-transform: uppercase;
        }
        
        #data {
            width: 350px;
            padding: 20px;
            background-color: green;
        }
        
        .image-preview {
            width: 100%;
            display: none;
            margin-bottom: 30px;
        }
    </style>

</head>

<body>
    <!-- ===============Header================ -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">OTS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'viewquestions' %}">View Questions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'newquestion' %}">Add Question</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- ==================Main===================== -->
    <table class="table table-dark table-striped">
        <tr>
            <th>Qno.</th>
            <th>Question Statement</th>
            <th>Option A</th>
            <th>Option B</th>
            <th>Option C</th>
            <th>Option D</th>
            <th>Answer</th>
            <th>Action</th>
        </tr>
        {% for question in questions %}
        <tr>
            <td>{{question.quno}}</td>
            <td>{{question.que}}</td>
            <td>{{question.optiona}}</td>
            <td>{{question.optionb}}</td>
            <td>{{question.optionc}}</td>
            <td>{{question.optiond}}</td>
            <td>{{question.answer}}</td>
            <td><a class="btn btn-warning mb-2" href="/edit-question?qun={{question.quno}}">Edit</a>
                <a class="btn btn-danger" href="/delete-question?qun={{question.quno}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <footer >
        <span>&copy; All right reserd ots.com</span>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>